<!--  Nav -->
<ul class="nav justify-content-end">
  <img class="logo" src="../assets/logo.webp">
</ul>

<div class="title">
  <h2>Lista de Usuarios</h2>
  <h3>Prueba Técnica Frontend Antpack</h3>
</div>


<!--  Card User -->
<section>
  <div class="card-user" *ngFor="let user of userList">
    <img class="gravatar" src="../assets/gravatar.png">
    <strong>Nombre:</strong> {{user.name}}
    <strong>Email:</strong> {{user.email}}
    <strong>Ciudad:</strong> {{user.address.city}}
    <strong>Compañia:</strong> {{user.company.name}}
  </div>
</section>

<!--  Footer -->
<footer>
  <p>© 2022 AntPack, todos los derechos reservados.</p>
</footer>


