
<h3 align="left" class="titulo"> Listado de Vehiculos </h3>
<br>
<div class="iconoCarro2">
  <mat-icon class="iconoCarro">airport_shuttle</mat-icon>
</div>



 <section >  
  <div class="cardVehiculo">
  <div class="card">
    <div class="boton" align="center">
      <button mat-raised-button (click)="onCreateVehiculo(vehiculo)" > <mat-icon>add</mat-icon> Nuevo Vehiculo </button>
    
    </div>
    <div class="table-responsive">
    
      <table class="table table-sm table-hover">
        <thead class="header">
          <tr align="center">
            <th scope="col" > N° </th>
            <th scope="col"> FOTO </th>
            <th scope="col"> PLACA</th>
            <th scope="col"> MARCA</th>
            <th scope="col"> MODELO</th>
            <th scope="col"> CONDUCTOR</th>
            <th scope="col"> CAPACIDAD</th>
            <th scope="col"> ACCIONES</th>
            
          </tr>
        </thead>
  
        <tbody class="body">
          <tr *ngFor= "let vehiculo of vehiculos; index as i" align="center">
            <th scope="row" align="center" class="fila"> {{i+1}}</th>
            <!-- <td> <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-ed3ff.appspot.com/o/imagesConductores%2Fcarro.jpg?alt=media&token=568b2973-dc89-46a9-8d4c-b200a9340992" class="img-thumbnail" alt="profile"> </td> -->
            <td>  </td>
            <td align="center" class="fila"> {{vehiculo.placa}}</td> 
            <td align="center" class="fila"> {{vehiculo.marca}}</td>
            <td align="center" class="fila"> {{vehiculo.modelo}}</td>
            <td align="center" class="fila"> {{vehiculo.conductor}}</td>
            <td align="center" class="fila"> {{vehiculo.capacidad}}</td>
            
            
            <td class="fila"> 
                <button mat-icon-button class="botonEditar"  matTooltip="Editar" (click)="onUpdateVehiculo(vehiculo)"> <mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="error"  matTooltip="Eliminar" (click)="onDeleteVehiculo(vehiculo.id)"> <mat-icon>delete</mat-icon>  </button>
            </td>
  
          </tr>
        </tbody>
  
      </table>
  
    </div>



  </div>


  
  
  

</div>
</section>  

